<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main_1.css">
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>

    <ol>
      <li v-for="item in list">{{ item }}</li>
    </ol>

    <button v-on:click="handleClick">Click</button>

    <p>{{ message_2 }}</p>
    <input v-model="message_2">

    <p>
      <button v-on:click="show=!show">切り替え</button>
      <transition>
        <p v-if="show">Hello Vue.js!</p>
      </transition>
    </p>
  
  </div>
  <script
  src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="main_1.js"></script>
</body>
</html>
