<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main.css">  <!-- 要修正！ -->
</head>
<body>
  <div id="app">
    <h2>
      Bitcoin price
    </h2>
  
    <section v-if="hasError">
      ERROR
    </section>
  
    <section v-else>
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        <ul v-cloak>
          <li v-for=" (rate, currency) in bpi">
            {{ currency }}: {{ rate.rate_float | currencyDecymal }}
          </li>
        </ul>
      </div>
    </section>
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  
  <script src="main.js"></script>  <!-- 要修正！ -->
</body>
</html>
